{% load static i18n %}
<div id="history" class="history">
  <div class="container">
    <h2>{% trans 'Our story in photos' %}</h2>
    <div class="row">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
          <li data-target="#myCarousel" data-slide-to="7"></li>
          <li data-target="#myCarousel" data-slide-to="8"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'images/history/1_gruendung.jpg' %}" />
            <div class="carousel-caption">
              <h3>{% trans 'January 8, 2015 – Founding' %}</h3>
              <p>
                {% trans '7 young students found Rückenwind in their kitchen' %}
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'images/history/2_veloberlin.jpg' %}" />
            <div class="carousel-caption">
              <h3>{% trans 'March 21, 2015 – First bike donations' %}</h3>
              <p>
                {% trans 'We present our ideas at the bike fair Velo and receive the first 70 bicycle donations.' %}
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'images/history/3_aktionstag1.jpg' %}" />
            <div class="carousel-caption">
              <h3>{% trans 'March/April 2015 – First repair events' %}</h3>
              <p>
                {% trans 'Über den Tellerrand e.V. lets us store the donated bicycles in their cellar, while we can repair our first bicycles in the courtyard of HellYes recycling together with refugees.' %}
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'images/history/4_heldentour.jpg' %}" />
            <div class="carousel-caption">
              <h3>{% trans 'June 11, 2015 – Repair event no. 4' %}</h3>
              <p>
                {% trans 'We repair 48 bicycles and win 8000 Euro. We are able to set up our workshop in Refugio in Neukölln.' %}
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'images/history/5_eroeffnung.jpg' %}" />
            <div class="carousel-caption">
              <h3>{% trans 'September 20, 2015 – Workshop opening' %}</h3>
              <p>
                {% trans 'After months of renovating the premises by ourselves, of organizing tools and processes, we finally open up our own workshop.' %}
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'images/history/6_auszeichnung.jpg' %}" />
            <div class="carousel-caption">
              <h3>{% trans 'April 19, 2016 – Award' %}</h3>
              <p>
                {% trans "At the Velo in Berlin, we receive the \"FahrradStadtBerlin\" award from the Senator for Environmental and Urban Development, Andreas Geisel." %}
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'images/history/7_bufdi.jpg' %}" />
            <div class="carousel-caption">
              <h3>
                {% trans 'Winter 2016 – German Federal voluntary service' %}
              </h3>
              <p>
                {% trans 'Our association is recognized by the German Federal Volunteer Service (Bundesfreiwilligendienst) and Siamak officially starts as a Federal Volunteer. He is from Iran and has supported us voluntarily for some time. As a federal volunteer, Siamak gets pocket money, an annual ticket for public transportation in Berlin and social security.' %}
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'images/history/8_auktion.jpg' %}" />
            <div class="carousel-caption">
              <h3>{% trans 'May 2017 – Charity auction' %}</h3>
              <p>
                {% trans 'We hold our first bicycle charity auction. 16 bikes are auctioned, pimped beautifully by our international team. The entire 3000 Euro proceeds go to the club and helps us with our work' %}
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'images/history/9_shw.jpg' %}" />
            <div class="carousel-caption">
              <h3>{% trans 'June 11, 2017 – DIY-workshop' %}</h3>
              <p>
                {% trans 'Now we also open our doors on Thursdays and Fridays – for all Berliners! Our federal volunteer from Iran who has been with us for almost a year and knows almost everything about bicycles as well as other members of the Rückenwind repair team are now ready to help you, if necessary.' %}
              </p>
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </div>
</div>
