{% load static i18n %}
<div id="press" class="press">
  <div class="container">
    <h2>{% trans 'What they write about us' %}</h2>
    <p>
      {% trans 'Here\'s a selection of reports and videos from and about Rückenwind.' %}
    </p>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <li>
          <img src="{% static 'images/presse/tagesspiegel.png' %}" alt="" />
        </li>
        <a href="http://www.tagesspiegel.de/berlin/bezirke/friedrichshain-kreuzberg/fluechtlinge-in-berlin-reparieren-fahrraeder-kettenfett-fuer-die-voelkerverstaendigung/11691760.html" target="_blank">26.04.2015 - Kettenfett für die Völkerverständigung</a>
        <a href="http://www.tagesspiegel.de/themen/radtouren/engagement-da-dreht-was/13751888.html?utm_referrer=https%3A%2F%2Fwww.google.com%2F" target="_blank">17.06.2016 - Da dreht was</a>
      </div>
      <div class="col-lg-3 col-md-3">
        <li>
          <img src="{% static 'images/presse/detektor.png' %}" alt="" />
        </li>
        <a href="https://detektor.fm/politik/antritt-fahrraeder-fuer-fluechtlinge" target="_blank">03.07.2015 - Antritt</a>
      </div>
      <div class="col-lg-3 col-md-3">
        <li>
          <img src="{% static 'images/presse/blnfm.jpg' %}" alt="" />
        </li>
        <a href="http://www.bln.fm/2015/07/zwei-raeder-gegen-hoffnungslosigkeit-berliner-verein-schraubt-fahrraeder-fuer-fluechtlinge-zusammen/" target="_blank">23.07.2015 - Zwei Räder gegen Hoffnungslosigkeit</a>
      </div>
      <div class="col-lg-3 col-md-3">
        <li>
          <img src="{% static 'images/presse/epicfish.jpg' %}" alt="" />
        </li>
        <a href="https://www.facebook.com/EpicFishFilmproduktion/videos/918183404915428" target="_blank">03.09.2015 - 4. Aktionstag - The Rock</a>
        <a href="https://www.facebook.com/rueckenwind.fahrraeder/videos/542749272544198/" target="_blank">13.10.2015 - Werkstatteröffnung</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <li>
          <img src="{% static 'images/presse/spiesser.png' %}" alt="" />
        </li>
        <a href="https://www.spiesser.de/artikel/mit-rad-und-tat" target="_blank">02.10.2015 - Mit Rad und Tat</a>
      </div>
      <div class="col-lg-3 col-md-3">
        <li>
          <img src="{% static 'images/presse/zdfinfo.png' %}" alt="" />
        </li>
        <a href="https://www.facebook.com/rueckenwind.fahrraeder/videos/585627584923033/" target="_blank">15.01.2016 - Beitrag</a>
      </div>
      <div class="col-lg-3 col-md-3">
        <li>
          <img src="{% static 'images/presse/spoke.svg' %}" alt="" />
        </li>
        <a href="http://spokemag.de/news/ruckenwind-fahrrader-fur-fluchtlinge" target="_blank">09.03.2016 - Rückenwind</a>
      </div>
      <div class="col-lg-3 col-md-3">
        <li>
          <img src="{% static 'images/presse/parisberlin.jpg' %}" alt="" />
        </li>
        <a href="http://www.parisberlinmag.com/societe/la-recyclette-solidaire_a-137-4933.html" target="_blank">27.05.1026 - La recyclette solidaire</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <li>
          <img src="{% static 'images/presse/index.jpg' %}" alt="" />
        </li>
        <a href="http://www.neues-deutschland.de/artikel/1015846.ein-eigenes-fahrrad-und-neue-freunde.html" target="_blank">20.06.2016 - Ein eigenes Fahrrad und neue Freunde</a>
      </div>
      <div class="col-lg-3 col-md-3">
        <li>
          <img src="{% static 'images/presse/socialcollective.png' %}" alt="" />
        </li>
        <a href="https://vimeo.com/171383446">2016 - Beitrag über uns</a>
      </div>
      <div class="col-lg-3 col-md-3">
        <li>
          <img src="{% static 'images/presse/berlinerwoche.jpg' %}" alt="" />
        </li>
        <a href="http://www.berliner-woche.de/neukoelln/soziales/anlaufstelle-fuer-fahrrad-schrauber-verein-rueckwind-oeffnet-freitags-seine-werkstatt-weitere-helfer-gesucht-d127720.html" target="_blank">24.06.2017 - Selbsthilfewerkstatt</a>
        <a href="http://www.berliner-woche.de/neukoelln/kultur/malen-fuer-die-fahrradwerkstatt-rueckenwind-ev-freut-sich-ueber-spenden-und-unterstuetzer-d117321.html" target="_blank">23.01.2017 - Malen für die Werkstatt</a>
      </div>
      <div class="col-lg-3 col-md-3">
        <li>
          <img src="" alt="" />
        </li>
      </div>
    </div>
  </div>
</div>
