app/db.sqlite3
app/rw/db.sqlite3
app/README.md
app/runtime.txt
app/rw/__pycache__/
app/rw/migrations/__pycache__/
app/rw/views/__pycache__/
app/rw/__pycache__/
app/rw/app_config.py
app/rw/settings/__pycache__/
app/rw/settings/prod.py
env
.vscode
app/media/
app/tickets/settings/prod.py
app/rw/locale/de/LC_MESSAGES/django.mo
app/rw/locale/en/LC_MESSAGES/django.mo
.prettierrc