<html>
  <p>Hallo {{ name }}</p>
  <p>Wir haben deine Fahrradbestellung bei uns auf der Warteliste eingetragen. Bitte rechne mit einer Wartezeit von aktuell ca. 3 Monaten bis wir dich einladen und du dein Fahrrad von uns erhälst.</p>
  <p>Wir sind ein Verein von Ehrenamtlichen und geben unser Bestes um dir deinen Fahrradwunsch so schnell wie möglich zu erfüllen.</p>
  <p>Wenn du dein Fahrrad bei uns abholen kommst, werden wir dich um eine Spende von ca. 10€ bitten.</p>
  <p>Dein Team von Rückenwind</p>
</html>'
