{% load static i18n %}

<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Rückenwind - Fahrräder für Flüchtlinge</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static '/css/website.css' %}">
        {% include 'partials/resources.html' %}
    </head>
    <body>
        <!--NAVIGATION BEGIN-->
        {% include 'website/segments/navigation.html' %}
        <!--NAVIGATION END-->
        <div class="container text-center">
            <h4>{{success_header}}</h4>
            <p>{{success_text}}</p>
        </div>
        <!-- Footer  -->
        {% include 'website/segments/footer.html' %}
    </body>
</html>
