{% load i18n %}
<div class="club-picture">
  <div class="inner">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CLUB START -->
<div id="club" class="club">
  <div class="container">
    <h2>{% trans 'About Rückenwind' %}</h2>
    <div class="row">
      <div class="col-lg-2 col-md-4"></div>
      <div class="col-lg-8 col-md-4">
        <p>
          {% trans 'Rückenwind – We are volunteers and refugees who repair bicycles together in Berlin-Neukölln. Our goal is to mobilize refugees with bicycles, to offer them employment and to bring them together with Berliners.'%}
        </p>
        <p>
          {% trans 'In our workshop in Neukölln, refugees and Berliners fix bicycles together and get to know each other. Mechanical knowledge or knowledge of German is not required, everyone is welcome. We are happy about active or financial support as well as donations of any kind.'%}
        </p>
      </div>
      <div class="col-lg-2 col-md-4"></div>
    </div>
  </div>
</div>
