{% load i18n %}
<div class="shw-picture">
  <div class="inner">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="shw" class="shw">
  <div class="container">
    <h2>{% trans 'DIY-workshop' %}</h2>
    <p>
      {% trans 'Learn how to repair your own bicycle. At Rückenwind, refugees and Berliners fix their bikes side-by-side.' %}
    </p>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="box">
          <h4>{% trans 'Opening hours' %}</h4>
          <p>{% trans 'Every Friday, from 4 pm to 8 pm in our workshop' %}<a href="#locationWorkshop" style="color:#74B843; display:inline;"> Lenaustraße 3, 12047 Berlin</a></p>
        </div>
      </div>
      <div class="col-lg-8 col-md-6">
        <div class="box">
          <h4>{% trans 'How it works' %}</h4>
          <p>
            {% trans 'Under the motto “Help people to help themselves” we show you how to repair your own bicycle. When it comes to a little trickier repair jobs, you will be helped by a trained refugee and by one of our more experienced mechanics. We provide you with the needed spare parts for a small fee. The majority of our spare parts have been recycled from used bikes. Should something be missing, a well-stocked bike shop is just a few steps away from our workshop.' %}
          </p>
        </div>
        <p></p>
      </div>
    </div>
  </div>
</div>
