{% load static i18n %}
<div id="whatelse">
  <div class="container">
    <h2>{% trans 'What else?' %}</h2>
    <p>
      {% trans 'Our goal is to build a community around the bicycle. For our previous milestones we have already received awards from public and private institutions. In order to reach our goal, we carry on with organizing and supporting integrative events.' %}
    </p>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <img src="{% static 'images/fahrradtour.png' %}" class="img-circle" alt="" />
        <h4>{% trans 'Biking trips' %}</h4>
        <p>
          {% trans 'Whether on an easygoing trip to Wannsee or speeding the Velothon: Riding a bike is fun and brings Berliners and refugees together.' %}
        </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <img src="{% static 'images/schrauberevent.jpg' %}" class="img-circle" alt="" />
        <h4>{% trans 'Events' %}</h4>
        <p>
          {% trans 'At our repair events, festivities and the summer party, refugees and Berliners come together.' %}
        </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <img src="{% static 'images/fahrradstadtberlin.png' %}" class="img-circle" alt="" />
        <h4>{% trans 'Awards' %}</h4>
        <p>
          {% trans 'For our integrative activities we were awarded by the Federal Chancellor Merkel and the Berlin Senate.' %}
        </p>
      </div>
    </div>
  </div>
</div>
