{% load i18n %} {% load static %}

<html>
  <body>
    <img src="{% static 'images/logo_NEU-ohne.png' %}" />
    <h3>{% trans 'Hello' %} {{ order.name }}</h3>
    <p>{% trans 'We are happy to invite you to get your bike with Rückenwind. Please come to our workshop on the ' %} {{ event.date }}.</p>
    {% if order.type == "repair" %}
    <p>{% trans 'We might need up to 4 hours to repair the bike with you. Please bring enough time.' %}</p>
    {% endif %}
    <p>{% trans 'Please confirm or decline the date. Therefor just click on the button:' %}</p>
    {% url 'order_confirm' order.hashed_id as confirm_url %}
    {% url 'order_decline' order.hashed_id as decline_url %}
    <a href="{{ site }}{{ confirm_url }}" target="_blank">{% trans 'Yes, I will come.' %}</a>
    <a href="{{ site }}{{ decline_url }}" target="_blank">{% trans 'No, please give me another option.' %}</a>
    <p>{% trans 'Your team of Rückenwind' %}</p>
  </body>
</html>
