

        <div class="ordercard js-swiping-card card shadow" id="add-event-form">
          <div class="card-header" id="card-header">
            <h5>{{ order.date-ordered }} - {{ order.status }}</h5>
          </div>
            <input type="hidden" id="order_id" value="{{order.pk}}"/>
            <div class="card-body">
                <div class="row" id="event-row">
                    <div class="col-6">
                        <h2><span class="fas fa-bicycle" title="Bikes ordered"></span> </h2>
                        <h6>{{ order.bikes }}</h6>
                    </div>
                
                    <div class="col-6">
                    <h2><span class="fas fa-user" title="Name"></span></h2>
                    <h6>{{ order.name }}</h6>
                    </div>
                    </div>
            </div>
        </div>