<!DOCTYPE html>
<html lang="de">
{% load static %}
<head>
    <title>Rückenwind - Fahrräder für Flüchtlinge</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static '/css/website.css'' %}">
    {% include 'partials/resources.html' %}
</head>

<body>
{% include 'partials/scroll_to_top.html' %}
<!--NAVIGATION BEGIN-->
{% include 'website/segments/navigation.html' %}
<!--NAVIGATION END-->
<div class="team">
    <div class="container">
        <h2>Unser Team</h2>
        <p>Unser buntes Team ist in den letzten Jahren immer größer und vielfältiger geworden. Schraube mit uns,
            organisiere Events mit uns und entwickel Rückenwind mit deiner Idee. <a href="index.php#support"
                                                                                    style="display:inline; color:#74B843">Werde
                ein Teil von Rückenwind! Wir freuen uns auf dich.</a></p>
        <div class="row">
            <div class="col-md-4">
                <div class="teambox">
                    <img src="{% static 'images/team/konstantin.jpg' %}">
                    <h4>Konstantin</h4>
                    <span>Gründungsmitglied</span>
                    <hr>
                    <p>Ich bin Konstantin, Teilzeitphilosoph, Parkbegutachter, angehender Bauingenieur. Für mich ist
                        Rückenwind ein Beweis, wie weit einen Engagement und eine gute Idee tragen können. Nachdem ich
                        mitgerissen wurde, bin ich jetzt stolz auf das, was wir geschafft haben und in freudiger
                        Erwartung, was noch folgt.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teambox">
                    <img src="{% static 'images/team/lukas.jpg' %}">
                    <h4>Lukas</h4>
                    <span>Gründungsmitglied</span>
                    <hr>
                    <p>Ich bin Lukas</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teambox">
                    <img src="{% static 'images/team/brenda.jpg' %}">
                    <h4>Brenda</h4>
                    <span>Gründungsmitglied</span>
                    <hr>
                    <p>Leidenschaftliche Weltenbummlerin, Akrobatin und Studentin der Europäischen Medienwissenschaft.
                        Ich bin unglaublich froh so viel von und über Menschen und über mich und mein Team durch
                        Rückenwind gelernt zu haben. Wir können alles schaffen, wenn wir es ernsthaft versuchen :)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="teambox">
                    <img src="{% static 'images/team/charlotte.jpg' %}">
                    <h4>Charlotte</h4>
                    <span>Gründungsmitglied</span>
                    <hr>
                    <p>Ich bin Charlotte, 20 Jahre alt und stolze Mitbegründerin von Rückenwind. Zu sehen wie eine Idee
                        unter Freunden zu einem größeren Projekt wird, wie man mit einfachen Mitteln und viel Herzblut
                        tatsächlich was bewegen kann, ist unheimlich erfrischend und motivierend. Probierts doch mal
                        aus!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teambox">
                    <img src="{% static 'images/team/leonie.jpg' %}">
                    <h4>Leonie</h4>
                    <span>Gründungsmitglied</span>
                    <hr>
                    <p>An unserem Projekt gefällt mir besonders, dass man sieht, dass es konkrete Unterstützung bietet.
                        Es wird nicht nur über Probleme geredet, sondern direkt etwas daran geändert. Neben dem Projekt
                        interessiere ich mich für das Theater, in dem es vor allem um zwischenmenschliche Kommunikation
                        geht. Besonders diese schätze ich an unserer Arbeit sehr.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teambox">
                    <img src="{% static 'images/team/luis.jpg' %}">
                    <h4>Luis</h4>
                    <span>Gründungsmitglied</span>
                    <hr>
                    <p>Hier fehlt noch ein Text...</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="teambox">
                    <img src="{% static 'images/team/no_avatar.jpg' %}">
                    <h4>Jakob</h4>
                    <span>Teammitglied</span>
                    <hr>
                    <p>Auf einer Reise durch Südostasien habe ich eines der Gründungsmitglieder in Thailand auf einer
                        Fähre kennengelernt, er berichtete von Rückenwind, dass sie 3 Monate vorher gegründet hatten und
                        war sofort von der Idee begeistert. Nach meiner Rückkehr habe ich viel Zeit mit dem Aufbau des
                        Projektes, der Außendarstellung und in der Werkstatt verbracht. Mittlerweile bin ich wieder voll
                        im Produktmanagement einer Online-Logistiklösung beschäftigt und bin dadurch eher hinter den
                        Kulissen aktiv. Ich möchte gerne dazu beitragen Rückenwind zu einer Begegnungsstätte für
                        jedermann rund ums Fahrrad zu machen.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teambox">
                    <img src="{% static 'images/team/valerie.jpg' %}">
                    <h4>Valerie</h4>
                    <span>Buchhaltung</span>
                    <hr>
                    <p>Ich bin Valerie, 21 und Studentin. Auch wenn ich persönlich nichts an den Richtlinien für
                        Aufenthaltsgenehmigungen oder dem Asylrecht ändern kann, tut es gut, durch unsere Arbeit
                        trotzdem einen kleinen Teil zur Verbesserung beizutragen. Besonders wichtig ist es mir dabei
                        eine Begegnungstätte für Einheimische und Flüchtlinge zu schaffen.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teambox">
                    <img src="{% static 'images/history/7_bufdi.jpg' %}">
                    <h4>Siamak</h4>
                    <span>BuFDi</span>
                    <hr>
                    <p>Hier fehlt noch ein Text...</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="teambox">
                    <img src="{% static 'images/team/no_avatar.jpg' %}">
                    <h4>Kathrin</h4>
                    <span>Teammitglied</span>
                    <hr>
                    <p>Hier fehlt noch ein Text...</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teambox">
                    <img src="{% static 'images/team/donal.jpg' %}">
                    <h4>Donal</h4>
                    <span>Kommunikation</span>
                    <hr>
                    <p>Ich bin Donal aus Irland und einer der neuesten Jungs bei Rückenwind. Ich bin ein großer Fan von
                        Rugby, Fahrrädern und sozialer Verantwortlung! Als ich 7 Jahre alt war, fuhr ich in 3 Tagen 100
                        Meilen! Ich bin wirklich beeindruckt von dem, was die Jungs bisher erreicht haben und hoffe,
                        dass ich ihnen auf ihrer Reise helfen kann! Ich wünschte heimlich, meine Haare wären so schön
                        wie Konstantins!
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teambox">
                    <img src="{% static 'images/team/no_avatar.jpg' %}">
                    <h4>Martin</h4>
                    <span>Teamschrauber</span>
                    <hr>
                    <p>Hier fehlt noch ein Text...</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="teambox">
                    <img src="{% static 'images/team/no_avatar.jpg' %}">
                    <h4>Lasse</h4>
                    <span>Teamschrauber</span>
                    <hr>
                    <p>Hier fehlt noch ein Text...</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teambox">
                    <img src="{% static 'images/team/no_avatar.jpg' %}">
                    <h4>Daniel</h4>
                    <span>Teamschrauber</span>
                    <hr>
                    <p>Hier fehlt noch ein Text...</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teambox">
                    <img src="{% static 'images/team/no_avatar.jpg' %}">
                    <h4>Bramm</h4>
                    <span>Teamschrauber</span>
                    <hr>
                    <p>Hier fehlt noch ein Text...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer  -->
{% include 'website/segments/footer.html' %}
</body>

</html>
